In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import requests

In [60]:
def download(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, "wb") as f:
            f.write(response.content)

In [7]:
file_path= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

In [13]:
download(file_path, "laptops.csv")
df = pd.read_csv(file_path, header=0)
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [25]:
df.to_excel("C:\\study\\IBM DA\\laptops.xlsx")

In [26]:
#handling with missing values
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [61]:
df=pd.read_excel("C:\\study\\IBM DA\\laptops.xlsx")
df.head()

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [71]:
#Note that we can update the Screen_Size_cm column such that all values are rounded to nearest
#2 decimal places by using numpy.round()
df["Screen_Size_cm"]=np.round(df["Screen_Size_cm"],2)
df["Screen_Size_cm"].head()

0    35.56
1    39.62
2    39.62
3    33.78
4    39.62
Name: Screen_Size_cm, dtype: float64

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    238 non-null    object
 1   Category        238 non-null    int64
 2   Screen          238 non-null    object
 3   GPU             238 non-null    int64
 4   OS              238 non-null    int64
 5   CPU_core        238 non-null    int64
 6   Screen_Size_cm  234 non-null    float64
 7   CPU_frequency   238 non-null    float64
 8   RAM_GB          238 non-null    int64
 9   Storage_GB_SSD  238 non-null    int64
 10  Weight_kg       233 non-null    float64
 11  Price           238 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 22.4+ KB

In [64]:
missing=df.isnull()
for column in missing.columns.values.tolist():
    print(column)
    print(missing[column].value_counts())
    print(" ")

Manufacturer
False    238
Name: Manufacturer, dtype: int64

Category
False    238
Name: Category, dtype: int64

Screen
False    238
Name: Screen, dtype: int64

GPU
False    238
Name: GPU, dtype: int64

OS
False    238
Name: OS, dtype: int64

CPU_core
False    238
Name: CPU_core, dtype: int64

Screen_Size_cm
False    234
True       4
Name: Screen_Size_cm, dtype: int64

CPU_frequency
False    238
Name: CPU_frequency, dtype: int64

RAM_GB
False    238
Name: RAM_GB, dtype: int64

Storage_GB_SSD
False    238
Name: Storage_GB_SSD, dtype: int64

Weight_kg
False    233
True       5
Name: Weight_kg, dtype: int64

Price
False    238
Name: Price, dtype: int64

In [65]:
#replace with mean
import numpy as np
mean=df["Weight_kg"].astype("float").mean()
df["Weight_kg"].replace(np.NaN,mean,inplace=True)

In [66]:
'''Replace with the most frequent value
Missing values in attributes that have categorical data are best replaced using the most frequent value
. We note that values in "Screen_Size_cm" attribute are categorical in nature, and some values are
missing. Therefore, write a code to replace the missing values of Screen Size with the most frequent
value of the attribute.'''

'Replace with the most frequent value\nMissing values in attributes that have categorical data are best replaced using the most frequent value\n. We note that values in "Screen_Size_cm" attribute are categorical in nature, and some values are\nmissing. Therefore, write a code to replace the missing values of Screen Size with the most frequent\nvalue of the attribute.'

In [68]:
#replace with mean

mode=df["Screen_Size_cm"].mode()
df["Screen_Size_cm"].replace(np.NaN,mean,inplace=True)

In [69]:
missing=df.isnull()
for column in missing.columns.values.tolist():
    print(column)
    print(missing[column].value_counts())
    print(" ")

Manufacturer
False    238
Name: Manufacturer, dtype: int64

Category
False    238
Name: Category, dtype: int64

Screen
False    238
Name: Screen, dtype: int64

GPU
False    238
Name: GPU, dtype: int64

OS
False    238
Name: OS, dtype: int64

CPU_core
False    238
Name: CPU_core, dtype: int64

Screen_Size_cm
False    238
Name: Screen_Size_cm, dtype: int64

CPU_frequency
False    238
Name: CPU_frequency, dtype: int64

RAM_GB
False    238
Name: RAM_GB, dtype: int64

Storage_GB_SSD
False    238
Name: Storage_GB_SSD, dtype: int64

Weight_kg
False    238
Name: Weight_kg, dtype: int64

Price
False    238
Name: Price, dtype: int64

Task - 3
Fixing the data types
Both "Weight_kg" and "Screen_Size_cm" are seen to have the data type "Object", 
while both of them should be having a data type of "float". Write a code to fix the data
type of these two columns.

In [70]:
df.dtypes

Manufacturer       object
Category            int64
Screen             object
GPU                 int64
OS                  int64
CPU_core            int64
Screen_Size_cm    float64
CPU_frequency     float64
RAM_GB              int64
Storage_GB_SSD      int64
Weight_kg         float64
Price               int64
dtype: object

Task - 4
Data Standardization
The value of Screen_size usually has a standard unit of inches. Similarly, weight of the laptop is needed to be in pounds. Use the below mentioned units of conversion and write a code to modify the columns of the dataframe accordingly. Update their names as well.

1 inch = 2.54 cm
1 kg   = 2.205 pounds

In [75]:
#Data standardization: convert weight from kg to pounds
df["Weight_kg"]=df["Weight_kg"]*2.205
df.rename(columns={"Weight_kg":"Weight_pounds"},inplace=True)

In [76]:
# Data standardization: convert screen size from cm to inch
df["Screen_Size_cm"]=df["Screen_Size_cm"]/2.205
df.rename(columns={"Screen_Size_cm":"Weight_Size_inch"},inplace=True)

In [77]:
df.head()

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Weight_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price
0,Acer,4,IPS Panel,2,1,5,7.313825,1.6,8,256,37.822859,978
1,Dell,3,Full HD,1,1,3,8.148868,2.0,4,256,52.006432,634
2,Dell,3,Full HD,1,1,7,8.148868,2.7,8,256,52.006432,946
3,Dell,4,IPS Panel,2,1,5,6.947722,1.6,8,128,28.839930,1244
4,HP,4,Full HD,2,1,7,8.148868,1.8,8,256,45.151038,837

Data Normalization
Often it is required to normalize a continuous data attribute. Write a code to normalize the
"CPU_frequency" attribute with respect to the maximum value available in the dataset.

In [78]:
df["CPU_frequency"]=df["CPU_frequency"]/df["CPU_frequency"].max()

Task - 5
Binning
Binning is a process of creating a categorical attribute which splits the values of a
continuous data into a specified number of groups. In this case, write a code to create 
3 bins for the attribute "Price". These bins would be named "Low", "Medium" and "High". 
The new attribute will be named "Price-binned".

In [85]:
bins=np.linspace(min(df["Price"]),max(df["Price"]),4)
groups=["low","meedium","high"]
df["Price_bin"]=pd.cut(df["Price"],bins,labels=groups,include_lowest=True)
df.head()

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Weight_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price,Price_bin
0,Acer,4,IPS Panel,2,1,5,7.313825,0.551724,8,256,37.822859,978,low
1,Dell,3,Full HD,1,1,3,8.148868,0.689655,4,256,52.006432,634,low
2,Dell,3,Full HD,1,1,7,8.148868,0.931034,8,256,52.006432,946,low
3,Dell,4,IPS Panel,2,1,5,6.947722,0.551724,8,128,28.839930,1244,low
4,HP,4,Full HD,2,1,7,8.148868,0.620690,8,256,45.151038,837,low

In [ ]:
Task - 6
Indicator variables
Convert the "Screen" attribute of the dataset into 2 indicator variables, "Screen-IPS_panel"
and "Screen-Full_HD". Then drop the "Screen" attribute from the dataset.

In [94]:
g=pd.get_dummies(df["Screen"])
g

     Full HD  IPS Panel
0          0          1
1          1          0
2          1          0
3          0          1
4          1          0
..       ...        ...
233        0          0
234        0          0
235        0          0
236        0          0
237        0          0

[476 rows x 2 columns]

In [95]:
g.rename(columns={"Full HD":"Screen-Full_HD",
                 "IPS Panel":"Screen-IPS_panel"},inplace=True)

In [97]:

g.head()

   Screen-Full_HD  Screen-IPS_panel
0               0                 1
1               1                 0
2               1                 0
3               0                 1
4               1                 0

In [99]:
df=pd.concat([df,g],axis=1)

In [100]:
df.head()

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Weight_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price,Price_bin,Screen-Full_HD,Screen-IPS_panel
0,Acer,4.0,IPS Panel,2.0,1.0,5.0,7.313825,0.551724,8.0,256.0,37.822859,978.0,low,0,1
1,Dell,3.0,Full HD,1.0,1.0,3.0,8.148868,0.689655,4.0,256.0,52.006432,634.0,low,1,0
2,Dell,3.0,Full HD,1.0,1.0,7.0,8.148868,0.931034,8.0,256.0,52.006432,946.0,low,1,0
3,Dell,4.0,IPS Panel,2.0,1.0,5.0,6.947722,0.551724,8.0,128.0,28.839930,1244.0,low,0,1
4,HP,4.0,Full HD,2.0,1.0,7.0,8.148868,0.620690,8.0,256.0,45.151038,837.0,low,1,0

In [101]:
df.drop(columns="Screen",axis=1,inplace=True)

In [ ]:
df.hea